body {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-and-header{
    display:flex;
    width: 80%;
    flex-direction:column;
    margin-left:20%;
}

/*header style */
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
    height: 20%;
    order: 0;
}

.top-banner {
    display: flex;
    width: 100%;
    height: 20%;
}

form {
    width: 70%;
    padding: 1em;
    display: flex;
}

form > input {
    width: 70%;
    margin: 15px;
    background-color: #bac6d9;
    border: none;
    border-radius: 10px;
    color:black;
    padding: .5em;
    align-self:center;
}
form > img {
    margin: 10px;
    height: 20px;
    width: 20px;
    align-self: center;
}

.profile-head {
    display: flex;
    padding: 6px;
    align-items:center;
}



.alert-icon{
margin: 10px;
height: 2em;
width: 2em;
align-self:center;
padding: 6px;
}

.profile-icon{
margin: 10px;
height: 2em;
width: 2em;
align-self:center;
padding: 6px;
}

.profile-name {
    font-weight:600;
    font-size:1em;
    align-self: center;
}

.profile-grid {
    display: flex;
    margin: 10px;
    align-items: center;
    width: 40%;
    height: 20%;
}

.profile-grid > img {
    margin: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container > p {
    font-weight: 600;
    padding: 5px;
    margin: 0;
}

.button-box{
    width: 40%;
    align-items: right;
    display:flex;
    justify-content:right;
    height: 20%;
}

button {
    border:none;
    background-color:#2074CE;
    color:white;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    margin: 10px;
    font-weight: 600;
    cursor:pointer;
}


/*sidebar style*/

.sidebar {
    background-color:#2074CE;
    width:20%;
    height: 100vh;
    position:fixed;
}

.logo {
    display: flex;
    padding: 5px;
}

.logo > h1 {
    color:white
}

.logo > img {
    filter:invert(100%);
    padding: 15px;
}

.logo h1 {
    margin:0;
    align-self:center;
}

.nav-list {
    list-style-type:none;
    margin-top: 50px;
}

.nav-list > .list-item {
    margin: 15px;
}

.list-item a {
color:white;
text-decoration: none;
font-family:Arial, Helvetica, sans-serif;


}

.support-list {
    list-style-type:none;
    margin-top: 50px;
}

.support-list > .list-item {
    margin:15px;
    
}

li > img {
    height: 20px;;
    width: 20px;
    align-items:center;
    margin: 0;
    filter:invert(100%);
}

li > a {
    align-self: center;
}

li {
    display:flex;
    padding: 10px;
}

/*main style*/


.main-content{
    background-color:#bac6d9;
    display: flex;
    width:100%;
}

.project-grid {

height: 100%;
width:75%;
display:flex;
flex-direction: column;
}

.project-grid h1{
    align-self:center;
}

.side-container {
    height:100%;
    width:25%;
}


/* Project Containers */

.project-container {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    gap:1em;
}

.project {
    background-color: white;
    width: 25em;
    height: 10em;
    border-radius: 10px;
    padding: 15px;
    border-left: solid 10px rgb(230, 178, 10);
}

.project h1 {
    font-size: 1em;
}

/* Announcement container */
.announcement-box{
    background-color:white;
    height: 30%;
    width: 80%;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    padding: 15px;
    border-left: solid 10px rgb(230, 178, 10);
    overflow-x:hidden;
    overflow-y:auto;
    }

    .announcement {
        display:flex;
        flex-direction: column;
    }

    .announcement h1{
        font-size: 1em;
        padding: 0;
        align-self: center;
    }


    /* Trending Box */
    .trending-box{
    background-color:white;
    height: 18%;
    width: 80%;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    padding: 15px;
    border-left: solid 10px rgb(230, 178, 10);
        }

    .user {
    display:flex;
    margin: 5px;
        }

    .user img {
        height: 50px;;
        width:50px;
        align-self:center;
    }

    .user-tags {
        display:flex;
        flex-direction:column;
    }

    .user-tags h1 {
        font-size: 1em;
        margin:0;
    }

    .user-tags p {
        margin:0;
        justify-content: center;
        align-items:center;
    }






/* Image sizings for logos */



.alert-icon {
    height:25px;;
    width: auto;
}

.profile-icon {
    height: 25px;
    width: auto;
}

.profile-image {
    height: 75px;
    width: auto;
}

.champion-logo {
    height: 50px;
    width: auto;
}

/* Button states */

button:hover {
    background-color:darkblue;
}