body {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(7, 1fr);
}


/*sidebar style*/
.sidebar {
    background-color:lightblue;
    grid-column:1;
    grid-row:1/7;
}

/*main style*/
.main-content{
    background-color:lightslategray;
}




/* Image sizings for logos */

.alert-icon {
    height:25px;;
    width: auto;
}

.profile-icon {
    height: 25px;
    width: auto;
}

.profile-image {
    height: 75px;
    width: auto;
}

.champion-logo {
    height: 50px;
    width: auto;
}